@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FactSet Internal Publisher Page</h1>
</div>
<img class="centered-image" src="~/images/blog-feed-default.webp" alt="Your Image" />