@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to the Zira Project, an internal initiative aimed to provide information to Publisher Support and it's clients(For now!). This document outlines the privacy measures and practices that are in place to safeguard the personal and sensitive information of individuals involved in or affected by the Zira Project.</p>
<p>
<p><text class="fw-bold">1. Data Collection and Usage:</text></p>
    The Zira Project collects and processes certain types of data necessary for its functioning and achievement of its objectives. This data may include but is not limited to:

    Employee Information: Information about employees involved in the project, including names, job roles, contact details, and relevant qualifications.
    Project Documentation: Documentation related to the project's progress, strategies, and planning.
    Communication Data: Correspondence and communication exchanged among project team members.
    Performance Metrics: Data related to project performance and milestones achieved.
    This data is collected solely for the purpose of facilitating the project's success and ensuring effective internal collaboration. It will not be shared with external parties or used for purposes other than those directly related to the Zira Project.
</p>
<p>
<p> <text class="fw-bold">2. Data Security:</text></p>
    The Zira Project is committed to ensuring the security of the collected data. Appropriate technical and organizational measures are in place to prevent unauthorized access, disclosure, or alteration of the data. These measures include secure access controls, encryption of sensitive data, regular security assessments, and employee training on data security best practices.
</p>
<p>
<p><text class="fw-bold">3. Limited Access:</text></p>
    Access to the data collected for the Zira Project is restricted to authorized individuals directly involved in the project. These individuals have undergone appropriate training and are bound by confidentiality agreements.
</p>
<p>
<p> <text class="fw-bold">4. Data Retention:</text></p>
    Data collected for the Zira Project will be retained only for as long as it is necessary to fulfill the project's objectives or to comply with legal and regulatory requirements. Once the project is concluded and the data is no longer needed, it will be securely archived or deleted in accordance with company policies.
</p>
<p>
<p><text class="fw-bold">5. Compliance:</text></p>
    The Zira Project operates in accordance with relevant data protection laws and regulations, ensuring that individuals' privacy rights are respected. If you have any concerns about how your data is being handled within the project, please reach out to the designated privacy contact.
</p>
<p>
<p><text class="fw-bold">6. Your Rights:</text></p>
       Individuals whose data is collected for the Zira Project have the right to:

<ul>
    <li>Access their personal data held by the project.</li>
    <li>Request correction of inaccurate or incomplete data.</li>
    <li>Object to the processing of their data in certain circumstances.</li>
    <li>Request erasure of their data when it is no longer necessary for the project's objectives.</li>
    <li>To exercise these rights or for any privacy-related inquiries, please contact the project's privacy contact person.</li>
</ul>

