@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Publisher Sofia Client Information Portal</h1>
    <p>Testo Testo Pepega</p>
</div>
